# Operating System
.DS_Store
Thumbs.db

# IDEs and editors
.idea
.vscode/
.devcontainer

# Build artifacts
dist/

# Logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Backup files
*.backup
*.bak
